:root {
  --brand-background: #1e2749;
  --brand-background-light: #e4d9ff;
  --brand-text: #30343f;
  --brand-text-light: #fafaff;
  --brand-shade: #273469;
}

body {
  margin: 0;
}

.stfu__header {
  background-color: var(--brand-background);
  color: var(--brand-text-light);
  width: 100%;
}

.stfu__header-logo {
  font-size: 2rem;
  padding: 2rem;
}

.stfu__footer {
  background-color: var(--brand-background-light);
  color: var(--brand-text);
  min-height: 10vh;
}

.stfu__footer-content {
  justify-content: space-between;
  padding: 2rem;
}

.stfu__example {
  padding: 2rem;
}

.stfu__example-toggle {
  padding-bottom: 1rem;
}

.stfu__example-container {
  display: flex;
  width: 100%;
  height: 20vh;
}

.stfu__example-div {
  border: 1px solid var(--brand-text);
  display: flex;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
}

/* Utilities */
.stfu_flex {
  display: flex;
}

.stfu_flex-column {
  flex-direction: column;
}

.stfu_flex-wrap {
  flex-wrap: wrap;
}

.stfu_p-vertical_m {
  padding-top: .5rem;
  padding-bottom: .5rem;
}

.stfu_p-bottom_m {
  padding-bottom: .5rem;
}

.stfu_background-one {
  background-color: #380e7f;
}

.stfu_background-two {
  background-color: #d62196;
}

.stfu_background-three {
  background-color: #6915cf;
}

.stfu_background-four {
  background-color: #e497cd;
}